<html>
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Expert Plumbing, Kitchen, & Bathroom Remodels">
		<meta name="keywords" content="Plumbing in Tahoe, lake tahoe plumbing, plumbing, kitchen remodel, bathroom remodel, Cory Barack, Barack Plumbing">
		<meta name="author" content="Aaron Barack">
		<meta name="viewport" content="width=1024">
		<title>Barack Plumbing: Reviews</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Bungee|Ultra|Roboto|Alfa+Slab+One|Kalam|PT+Serif" rel="stylesheet">
		<link rel="stylesheet" href="css/barackstyle.css">
		
	</head>
	
	<body>
		<div class="container-fluid " id="base">
			<br>
			<div class="row">
				<div class="col-2"></div>
				<div class="col-8" style="font-weight: bold"><h1>Barack Plumbing & General Contracting</h1></div>
			</div>
			<div class="row">
				<div class="col-2"></div>
				<div class="col-4"><p>Quality Plumbing & Construction since 2006.</p></div>
			</div>
			<div class="row">
				<div class="col-2"></div>
				<div class="col-4">
					<p style="font-size: 200%; color: #263409; width: 600px">Monday -Friday 8:30 AM - 5:30 PM</p>
				</div>
				<div class="col-4">
					<p style="font-size: 200%; color: #263409; width: 400px">&phone; 530-545-8910</p>
				</div>
			</div>
			<div class="row">
				<div class="col-2"> </div>
				<div class="col-auto"><h3  ><a href="\" style="color: black;">Home</a></h3></div>
				<div class="col-auto"><h3 class="active"><a href="\reviews" style="color: black;">Reviews</a></h3></div>
				<div class="col-auto"><h3><a href="\about" style="color: black;">About Us</a></h3></div>
				<div class="col-auto"><h3><a href="\services" style="color: black;">Services</a></h3></div>
				<div class="col-auto"><h3><a href="\contact" style="color: black; width: 200px">Contact US</a></h3></div>
			</div>
			<br>
		</div>
		
		<div class="container-fluid" id="body">
			<br>
			<div class="row justify-content-center">
			</div>
		</div>
			<br>
			<div class="row justify-content-center" style="height: 90vh">
				<div class="col-8">
					<h1>Checkout our yelp page! <a href="https://www.yelp.com/biz/barack-plumbing-south-lake-tahoe">https://www.yelp.com/biz/barack-plumbing-south-lake-tahoe</a></h1>
				</div>
			</div>			
		</div>
		<div class="container-fluid" id="foot">
			<div class="row">
				<div class="col-2"></div>
				<div class="col-8">
					<p style="float: left; font-family: 'Roboto'; ">All rights reserved &copy; Barack Plumbing 2018. Website created by <span><a href="https://github.com/Akokjk/Barack-Plumbing-Construction" style="color: white;">Aaron Barack</a></span></p>
					<p style="float: right;font-family: 'Ultra';"><a href="/sitemap">Sitemap</a> | <a href="/">Home</a> | <a href="services">Services</a> | <a href="reviews">Reviews</a> | <a href="contact">Contact Us</a></p>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		
	</body>
	
</html>